@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --link: #202020;
  --link-hover: #3636f1;
  --link-active: #1c1cf4;

  --menu-border: 1px solid #ccc;
  --menu-width: 300px;
  --content-padding: 16px;
  --search-height: 48px;
}
